BasedOnStyle: LLVM  # or Google, Chromium, Mozilla, WebKit
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
